h1{
    color: red;
    text-align: center;
    padding-bottom: 1rem;
    background: #18082C;
    color: white;
    padding-top: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}