.advice {
    position: absolute;
    width: 30%;
    top: 40%;
    left: 50%;
    height: 50%;
    display: flex;
    height: 55vh;
    margin-top:7rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    transform: translate(-50%, -50%);
    /* border: 2px solid red; */
  
}

.quotes_sect {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #ff2992;
}
.search_sect{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 1rem;
}

.search_sect button{
  width: 5rem;
}

.advice input{
  height: 2.5rem;
  background: transparent;
  padding-inline-start: .5rem;
  border: none;
  border: 2px solid black;

  width: 20rem;
}

.advice button {
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: large;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
}

.advice button:hover {
  background-color: #18082c;
  transition: all ease-in 1s;
  color: white;
  fill: white;
}

.quotes {
  padding: 0.5rem;
  fill: #18082c;
  font-size: 2.5rem;
}

.reload {
  fill: #18082c;
  font-size: 2.5rem;
}

.advice p {
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.7;
  padding: 0.5rem;
}

.next {
  text-align: center;
  font-size: 1.5rem;
  margin-top: auto;
}


@media screen and (max-width:500px){
   .advice{
    width: 60%;
   }
}

@media screen and (min-width:501px) and (max-width:900px) {
  .advice {
    width: 50%;
  }
}